.zoom-on-hover:hover {
    transform: scale(1.2);
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
	animation-duration: 1000ms;
}

.zoom-on-hover {
    transition: all 1000ms ease-in-out;
}

.rounded-image {
    border-radius: 10px;
}

.socials .social-icon::before {
    font-size: 25px;
}

.socials .social-icon {
    text-decoration: none;
}
